.dark-blue{
    background: linear-gradient(135deg, #0F2021, #2c5364);
    color: #ffffff !important;
    button{
        background: #ffffff0f;
    }
}
.gray{
    background: linear-gradient(135deg, #323232, #9b9b9b);
    color: #ffffff;
}
.blue{
    background: linear-gradient(135deg, #2c3e50, #bdc3c7);
    color: #ffffff;
}
.violet{
    background: linear-gradient(135deg, #7367f0, #ce9ffc);
    color: #000000;
}
.pink{
    background: linear-gradient(135deg, #89216b, #ce546d);
    color: #ffffff;
}
.yellow{
    background: linear-gradient(135deg, #ffe600, #ff7c22);
    color: #ffffff;
}
.dark{
    background: linear-gradient(135deg, #141e30, #243b55);
    color: #ffffff;
}
.green{
    background: linear-gradient(135deg, #134e5e, #71b280);
    color: #ffffff;
}